## Here are all the files to be ignored by this repo
**/research
**/README-template.md
**/design

## Code which can be compiled will not be committed
**/node_modules

## Dont track images from the src folder in the Time Tracking Dashboard
time-tracking-dashboard/src/images/
