@use 'base'

main
  padding: .6rem
  background: var(--light-grey-blue)

.card
  background: #fff
  overflow: hidden

.card-header
  height: 248px
  background-image: url('../images/drawers.jpg')
  background-size: cover